.img-box {
    display: flex;;
}


.imgs-box img {
    /* max-height: 200px; */
    /* max-width: 49%; */
    height: 100%;
}

@media (min-width: 50em) {
    .imgs-box img {
        max-height: 400px;
    }
}
